---
layout: "minimalistic/layout_base"
---
<div class="wrapper__content">
  
  <!-- Posts list -->
  <section class="content__section">
    {% for post in site.posts reversed %}
      {% if post.published %}
      <article class="content__post">

        <div class="post__content">

          <header class="post__header">

            <div class="post__header--wrapper">
              <h2> <a href="{{ post.url }}">{{ post.title }}</a> </h2>
              <div class="comments__link"> <a href="#">10</a> </div>
            </div>
            
            <div class="entry__meta">
              <span class="sep">Publicado en </span>
              <a href="#"> <time>{{ post.date | date: "%a, %b %d, %Y"}}</time> </a>
              por
              <span class="by-author"> <a href="#">{{ post.author }}</a> </span>
            </div>
            
          </header>

          <div class="post__description">
            {{ post.description }}
          </div>

        </div>
        
        <div class="post__image">
          <img src="{{ site.baseurl }}{{ post.image }}" alt="Coding">
        </div>
        
        <div class="post__buttons">
          <a href="{{ site.baseurl }}{{ post.url }}">Continuar leyendo</a>
          {% if post.repo %}
          <a href="{{ post.repo }}" target="_blank">Ver repositorio</a>
          {% endif %}
        </div>

      </article>
      {% endif %}
    {% endfor %}
  </section>

  <!-- Right aside -->
  <aside class="content__aside">

    <!-- About me -->
    <div class="aside__section aside__about">
      {% for author in site.data.authors %}
      <p>{{ author.small_bio }}</p>
      {% endfor %}
    </div>

    <!-- Last posts -->
    <div class="aside__section">
      <h3>Últimas publicaciones</h3>
      <ul class="links__list">
        {% for post in site.posts reversed limit:5 %}
          {% if post.published %}
            <li> <a href="{{ post.url }}">{{ post.title }}</a> </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>

    <!-- Project list -->
    <div class="aside__section">
      <h3>Proyectos</h3>
      <ul class="links__list">
        {% for project in site.projects limit:5 %}
        <li>
          <a href="{{ project.url }}">{{ project.title }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>

  </aside>

</div>