---
layout: base
title: Notas
---

<article class="section">
  <header>
    <h1>{{ page.title }}</h1>
  </header>

  {% for nota in site.posts %}
    {% if nota.categories contains "notas" %}
    <div class="content container__card">
      <header>
        <h2>
          <a class="card__title" href="{{ site.url }}{{ site.baseurl }}{{ nota.url }}">{{ nota.title }}</a>
        </h2>
      </header>

      <div class="card__body">
        {% if nota.description %}
        <p>
          {{ nota.description }}
        </p>
        <p>{{ nota.date | date_to_long_string }}</p>
        {% endif %}
      </div>
    </div>
    {% endif %}
  {% endfor %}
</article>
