---
layout: base
title: Proyectos
---

<article class="section">
  <header>
    <h1>{{ page.title }}</h1>
  </header>

  {% for project in site.posts %}

    {% if project.project %}

      <div class="content container__card">
        <header>
          <h2>
            <a class="card__title" href="{{ site.url }}{{ site.baseurl }}{{ project.url }}">{{ project.title }}</a>
          </h2>
        </header>

        <div class="card__body">
          <p>
            {{ project.description }}
          </p>
        </div>

        <footer class="card__footer">
          <div class="card__lastCommit">Última modificación: {{ project.date | date_to_long_string }}</div>

          <!-- Card language -->
          {% if project.language %}
            <div class="card__language">
              <span>Lenguaje de programación:</span>

                {% for language in project.language %}
                  <span class="tag is-black">{{ language }}</span>
                {% endfor %}

            </div>
          {% endif %}
          <!-- /Card language -->

          <!-- Card buttons -->
          <div class="card__buttons">
            {% if project.repository %}
              <a href="https://github.com/AngelGuerrero/{{ project.repository }}" class="btn btn-primary" target="_blank">Repositorio {{ project.repository | capitalize }}</a>
            {% endif %}
          </div>
          <!--/Card buttons -->
        </footer>
      </div>
    {% endif %}

  {% endfor %}

</article>
