---
layout: default
---

{%- comment -%}
Esta plantilla es usada por otras plantillas
para la itereación de colecciones en base a su typo.

Ejemplo:
Las variables para "page", vienen del archivo 'post.md'
{%- endcomment -%}

<div class="container">
  <div class="listing-header column-v-center">
    <h1 class="listing__title">{{ page.title }}</h1>
    <p class="listing__description">{{ page.description }}</p>
  </div>

  {% assign posts = site[page.type] | sort: 'date' | reverse %}

  {% for post in posts %}
    <div class="box-post">
      <div class="box-header column">
        <h2>
          <a class="box__title" href="{{ site.baseurl }}{{ post.url }}">
            {{ post.title }}
          </a>
        </h2>
        <small class="box__publish-date">{{ post.date | date_to_long_string }}</small>
      </div>

      <div class="box-body">
        <div class="box__text"> {{ post.excerpt }} </div>
        <div class="box__image">
          <img class="box__thumbnail" src="{{ site.baseurl }}/{{ post.image }}">
        </div>
      </div>

      <div class="box-footer">
        {%- if page.tags != '' -%}
          <div class="box__tags column">
            <h3>Tags</h3>
            <div class="row-v-center wrap">
              {%- for tag in post.tags -%}
              <span class="tag">{{ tag }}</span>
              {%- endfor -%}
            </div>
          </div>
        {%- endif -%}
      </div>
      <div class="box__buttons row between">
        <a href="{{ site.baseurl }}{{ post.url }}" class="btn-default">Leer más...</a>
        {%- if post.repository and post.repository != '' -%}
        <a href="{{ post.repository }}" class="btn-primary">Ver repositorio</a>
        {%- endif -%}
      </div>
    </div>
  {% endfor %}

</div>
