<a class="nav__item col {% if page.url == '/' %} active {% endif %}" href="{{ site.url }}{{ site.baseurl }}/">Inicio</a>
<a class="nav__item col {% if page.url contains 'about' %} active {% endif %}" href="{{ site.url }}{{ site.baseurl }}/about.html">Sobre mí</a>
<a class="nav__item col {% if page.url contains 'proyectos' %} active {% endif %}" href="{{ site.url }}{{ site.baseurl }}/proyectos.html">Proyectos</a>
<a class="nav__item col {% if page.url contains 'whatido' %} active {% endif %}" href="{{ site.url }}{{ site.baseurl }}/whatido.html">Lo que hago</a>
<a class="nav__item col {% if page.url contains 'notas' %} active {% endif %}" href="{{ site.url }}{{ site.baseurl }}/notas.html">Notas</a>
<a class="nav__item col {% if page.url contains 'contact' %} active {% endif %}" href="{{ site.url }}{{ site.baseurl }}/contact.html">Contacto</a>
