<a class="nav__item col {% if page.url == '/' %} active {% endif %}" href="{{ site.url }}{{ site.baseurl }}/">Inicio</a>
<a class="nav__item col {% if page.url contains 'about' %} active {% endif %}" href="{{ site.url }}{{ site.baseurl }}/about.html">Sobre mí</a>
<a class="nav__item col {% if page.url contains 'projects' %} active {% endif %}" href="{{ site.url }}{{ site.baseurl }}/projects.html">Proyectos</a>
<a class="nav__item col {% if page.url contains 'whatido' %} active {% endif %}" href="{{ site.url }}{{ site.baseurl }}/whatido.html">Lo que hago</a>
<a class="nav__item col {% if page.url contains 'notes' %} active {% endif %}" href="{{ site.url }}{{ site.baseurl }}/notes.html">Notas</a>
<a class="nav__item col {% if page.url contains 'contact' %} active {% endif %}" href="{{ site.url }}{{ site.baseurl }}/contact.html">Contacto</a>
