//------------------------------------------------
// Mono colors theme
//------------------------------------------------

$primary-color: #6320EE;
$secondary-color: #1B9AAA;
$main-content-back-color: #FCFBF7;

$super-title-color: $primary-color;
$titles-color: #8075FF;

//------------------------------------------------
// Navbar colors
//------------------------------------------------
$navbar-back-color: #211A1D;
$navbar-front-color: #ffffff;
$menu-item-color: #ffffff;
$menu-item-back-hover: $super-title-color;

//------------------------------------------------
// Links colors
//------------------------------------------------
$link-color: #000000;

//------------------------------------------------
// Colors for listing posts
//------------------------------------------------
$box-back-color: #ffffff;

//------------------------------------------------
// Color tags
//------------------------------------------------
$tag-back-color: $primary-color;
$tag-front-color: #ffffff;
