$primary-color: #8f00ff
$accent-color: #1B9AAA
$secondary-color: #5B3D5F


h1,
h2,
h3,
h4,
h5,
h6
  margin: 10px 0
  padding: 0
  font-family: 'Inconsolata', monospace
  font-weight: lighter

h1
  font-weight: bold
