{% assign sorted = (site.posts | sort: 'date') | reverse %}
{% for post in sorted %}
  {% if post.published %}
    <article class="content__post">
      <div class="post__content">
        {% include minimalistic/info_post.html %}
        <div class="post__description">
          {{ post.description }}
        </div>
      </div>
      <div class="post__image">
        <img src="{{ site.url }}{{ site.baseurl }}/assets/img/{{ post.image }}" alt="Coding">
      </div>
      <div class="post__buttons">
        <a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}">Continuar leyendo</a>
      </div>
    </article>
  {% endif %}
{% endfor %}
