---
# This template extends from minimalistic/layout_base
layout: "minimalistic/layout_base"
---
<div class="wrapper__article">

  {% include minimalistic/breadcrumb.html  %}
  
  <header class="post__header">
    <div class="post__header--wrapper">
      <h1>
        <a href="{{ page.url }}">{{ page.title }}</a>
      </h1>
      {% if page.url == "/" %}
      <div class="comments__link">
        <a href="#">10</a>
      </div>
      {% endif %}
    </div>
    <div class="entry__meta">
      <span class="sep">Publicado el </span>
      <a href="#">
        <time>{{ page.date | date: "%a, %b %d, %Y"}}</time>
      </a>
      por
      <span class="by-author">
        <a href="#">{{ page.author }}</a>
      </span>
    </div>
    {% if page.repo %}
      <div class="entry__meta">Ver el repositorio <a href="{{ page.repo }}" target="_blank">{{ page.title }}</a></div>
    {% endif %}
  </header>
  
  <div class="article__content">
    {{ content }}
  </div>
</div>

  <!-- Presentation band -->
  <div class="band">
    <div class="band__about">
      <div class="band__thumbnail-image">
        <img src="{{ site.baseurl }}{{ site.data.authors[0].image }}" alt="">
      </div>
      <div class="band__presentation">
        <h4>Autor: {{ page.author }}</h4>
        {% for author in site.data.authors %} {% if author.name == page.author %}
        <p>{{ author.bio }}</p>
        {% endif %} {% endfor %}
      </div>
    </div>
  </div>

<!-- Comments section 
<div class="wrapper__article">
    
      <div class="comments">
        <header class="comments__header">
          <h2 class="comments__title">Comentarios</h2>
        </header>
        <!-- Comment component --
        <div class="comments__comment">
          <div class="comment__img-thumbnail">
            <img src="" alt="">
          </div>
          <div class="comment__content">
            <div class="comment__header">
              <div class="comment__person-name">
                <h4>Wendy Argente</h4>
                <p>Fecha: <time>octubre 23 de 2014</time></p>
              </div>
              <div class="comment__text">Comentario: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam nam
                unde temporibus consectetur. Cupiditate molestiae qui.</div>
            </div>
          </div>
        </div>
        <div class="comments__comment">
          <div class="comment__img-thumbnail">
            <img src="" alt="">
          </div>
          <div class="comment__content">
            <div class="comment__header">
              <div class="comment__person-name">
                <h4>Wendy Argente</h4>
                <p>Fecha: <time>octubre 23 de 2014</time></p>
              </div>
              <div class="comment__text">Comentario: Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam nam
                unde temporibus consectetur. Cupiditate molestiae qui.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  -->