<!DOCTYPE html>
<html lang="es" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>{{ site.title }}</title>
  <link rel="shortcut icon" href="{{ site.baseurl }}/assets/img/defaults/boy.png" type="image/png">
  <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Montserrat" rel="stylesheet">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/themes/minimalistic/minimalistic_build.css">
</head>

<body>
  <div class="wrapper">
    <header class="wrapper__header" id="app">
      <h1 class="header__site-title">Ángel Guerrero <span class="title__name">Blog </span></h1>
      <div class="header__cite">
        <i>
          <blockquote class="cite" :title="quote.title" v-html="quote.content" :cite="quote.link"></blockquote>
        </i>
        <div class="cite__author"><strong v-html="quote.title"></strong></div>
      </div>
    </header>
    <nav class="wrapper__menu container">
      <a href="{{ site.url }}{{ site.baseurl }}/" target="_self">Home</a>
      {% for item in site.pages %}
        <a href="{{ site.url }}{{ site.baseurl }}{{ item.url }}" target="_self">{{ item.title }}</a>
      {% endfor %}
    </nav>
    {{ content }}
    <footer class="footer container">Ángel Guerrero - {{ site.time | date: '%Y' }} </footer>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  <!-- Custom scripts -->
  <script src="{{ site.url }}{{ site.baseurl }}/assets/js/main.js"></script>
</body>

</html>