//------------------------------------------------
// Clases and Ids of Layout Minimalistic Base
//------------------------------------------------
#image__404 {
  // @extend %dev;
  width: 50%;
  max-width: 500px;
  margin: auto;
}

.container {
  // @extend %dev;
  padding: 7px;
  margin: auto;
  width: 100%;
}

.cite {
  padding: 10px;
  margin: 0;

  &__author {
    padding-left: 10px;
  }
}

.img__responsive {
  width: 100%;
}


//------------------------------------------------
// Main clases of layout base
//------------------------------------------------
.wrapper {
  // @extend %dev;
  max-width: 940px;
  min-height: 100vh;
  margin: 30px auto;
  border-radius: $wrapper-border-radius;
  background-color: $wrapper-background-color;
  box-shadow: 0px 0px 50px #cccccc;
}

.wrapper__header {
  // @extend %dev;
  padding: 10px 40px;
  border-top-left-radius: $wrapper-border-radius;
  border-top-right-radius: $wrapper-border-radius;
  background-color: $main-header-background-color;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  .title__name {
    // @extend %dev;
    padding: 0px 10px;
    font-family: $dancing-script;
    color: $title-name-color;
  }

  .header__site-title {
    // @extend %dev;
    display: flex;
    // flex-direction: column;
    justify-content: center;
  }

  .header__cite {
    // @extend %dev;
    max-width: 300px;
    font-size: 12px;
    // display: none;
  }
}

.wrapper__menu {
  // @extend %dev;
  padding: 0px 40px;
  min-height: 40px;
  background-color: $navbar-background-color;
  display: flex;
  align-items: stretch;

  a {
    // @extend %dev;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: set-text-color($navbar-background-color);

    &:hover {
      background-color: $navbar-background-hover;
      color: set-text-color($navbar-background-hover);
    }
  }
}

//
// Container of Layout Post
// includes the main content
//
.wrapper__article {
  // @extend %dev;
  width: 85%;
  margin: auto;
}


//------------------------------------------------
// Main wrapper content
//------------------------------------------------
.wrapper__content {
  // @extend %dev;
  padding: 30px 40px;
  display: flex;

  .content__section {
    // @extend %dev;
    padding: 10px;
    width: 70%;
  }

  .content__aside {
    // @extend %dev;
    width: 30%;
    padding: 10px;
  }
}

.aside__section {
  // @extend %dev;
  background-color: lighten($color: #cccccc, $amount: 17%);
  margin-bottom: 100px;
  padding: 10px;
}

.aside__about {
  font-size: 13px;
  border-radius: 5px;
  font-family: 'Courier New', Courier, monospace;
  letter-spacing: 1px;
  text-shadow: 3px 3px 10px #8a8989;
}

.links__list {
  // @extend %dev;
  margin: 0;
  font-weight: 900;
}

//------------------------------------------------
// Styles where it iterates the posts
//------------------------------------------------
.content__post {
  // @extend %dev;
  background-color: white;
  margin: 10px 0px 50px;

  &:not(:first-of-type) {
    border-top: 1px solid #dad8d8;
  }

  .post__content {

    // @extend %dev;
    .post__header {

      // @extend %dev;
      .post__header--wrapper {
        // @extend %dev;
        background-color: $iterate-header--wrapper-background-color;
        display: flex;
        justify-content: space-between;

        h2 {
          // @extend %dev;
          color: $iterate-post-title;
        }

        .comments__link {
          // @extend %dev;
          padding: 10px;
          color: set-text-color($iterate-post-comments-link-background);
          display: flex;

          a {
            // @extend %dev;
            border-radius: 50%;
            padding: 10px;
            width: 50px;
            height: 50px;
            margin: auto;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;

            &:hover {
              background-color: $iterate-post-comments-link-background;
              color: set-text-color($iterate-post-comments-link-background);
              @extend %link-hover;
            }
          }
        }
      }

      .entry__meta {
        // @extend %dev;
        font-size: $iterate-post-font-size;
        color: $iterate-post-meta-color;
        margin: 10px 0px;
      }
    }
  }

  .post__description {
    // @extend %dev;
    margin: 10px 0;
    text-align: justify;
    white-space: normal;
    word-wrap: break-word;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 5.6em;
    line-height: 1.8em;
    display: flex;

    &::after {
      content: '...';
      padding-bottom: 3px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }
  }

  .post__image {
    // @extend %dev;
  }

  .post__buttons {
    // @extend %dev;
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    a {
      margin: 10px 0;
      padding: 10px;
      background-color: #ffffff;
      border: 1px solid #cccccc;
      border-radius: 3px;

      &:hover {
        @extend %link-hover;
        background-color: $a-color;
        color: set-text-color($a-color);
      }
    }
  }
}

.footer {
  text-align: center;
}