<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="shortcut icon" href="{{ site.baseurl }}/assets/img/defaults/boy.png" type="image/png">

  <title>{{ page.title }} - {{ site.title }}</title>
</head>
<body>

  <div id="app">
    <aside-left></aside-left>
    <span v-pre>
      {{ content }}
    </span>
  </div>

  {%- include scripts.html -%}
</body>
</html>