<!DOCTYPE html>
<html lang="es">

<head>
  {%- include head.html -%}
</head>

<body>
  <div id="app" class="row">

    {%- include nav.html -%}

    <!-- Main content -->
    <div class="grow-1  {% if page.url == '/' %}
                          app-back-black
                        {%- else -%}
                          main-content
                        {% endif %}">
      <header class="main-header container row-v-center">
        <h1 class="header__branding"> </h1>
        {%- if page.url == '/' -%}
        <h1 class="header__branding type__branding"></h1>
        {%- else -%}
        <h1 class="header__branding">{{ site.title }}</h1>
        {%- endif -%}
      </header>

      <!-- Yield content -->
      <section class="main-yield">{{ content }}</section>

      <!-- Main footer -->
      <footer class="main-footer">Made with <i class="fas fa-heart"></i> </footer>
    </div>

  </div>

  {%- include scripts.html -%}
</body>

</html>
