<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/assets/css/minimalistic.css">
    <link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/assets/css/syntax.css">
  </head>
  <body id="body">
    <div class="wrapper">
      <header class="wrapper__header">
        <h1 class="wrapper__site-title">Título del sitio</h1>
      </header>
      <nav class="wrapper__menu">
        <a href="#">Home</a>
        <a href="#">Acerca</a>
        <a href="#">Contacto</a>
      </nav>
      {{ content }}
    </div>
    <footer class="footer container">Ángel Guerrero</footer>
  </body>
</html>
